<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${announce.label}"></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body th:with="products=${announce.getProducts()}">
	<h1 th:text="${announce.label}"></h1>
	<p th:text="${announce.description}"></p>
	<p>Note : <span th:text="${announce.getRate()}" />/5</p>
	<div>
		<ul th:each="comment: ${announce.getComments()}">
			<li th:text="${comment}"></li>
		</ul>
	</div>
	
	<h2>Liste des produits en ventes :</h2>
	
	<table th:unless="${#lists.isEmpty(products)}">
		<tr>
			<th>Etat</th>
			<th>Vendeur</th>
			<th>Prix</th>
			<th></th>
		</tr>
		<tr th:each="product: ${products}">
			<td th:text="${product.state}"></td>
			<td th:text="${product.idEmployee}"></td>
			<td><span th:text="${product.price}" /> €</td>
			<td>Acheter</td>
		</tr>
	</table>
	
	<div th:if="${#lists.isEmpty(products)}">
		<p>Actuellement il n'y a aucun produit en vente.</p>
	</div>
	
	<a th:href="@{/announces}">Retour</a>
</body>
</html>